<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>

    <h2>Marketplace</h2>
    <a href="{% url 'marketplace_home' %}">Browse Products</a>
    <a href="{% url 'add_product' %}">Add a New Product</a>


</body>
</html>
