{% extends 'Leaf/base.html' %}

{% block content %}

<style>
    input {
        width: 100%;
    }
    body {
          margin: 0;
          padding: 0;
          background-color: ivory; /* Light beige color */
          font-family: 'Patrician', serif;
    }
    .btn-custom-green {
        background-color: rgb(51, 148, 19);
        border-color: rgb(51, 148, 19);
        color: white;
    }
    .btn-custom-green:hover {
        background-color: rgb(45, 130, 17);
        border-color: rgb(45, 130, 17);
    }
</style>

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2 class="text-center mb-4">Login</h2>

        <!-- Display form errors -->
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}



        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-custom-green">Login</button> <!--TECH DEBT: put css for line below in a css file eventually -->
            </div>

        </form>
    </div>
</div>
{% endblock %}